@font-face {
	font-family: 'Amador';
	src: url("/fonts/Amador-W01-Regular.ttf");
}

@font-face {
	font-family: 'Cheddar';
	src: url("/fonts/CheddarGothicRough-Regular.ttf");
}

body{
	margin: 0px;
	padding: 0px;
	height: 100vh;
	overflow: hidden;
}

.header-image{
	height: 200px;
	width: 100%;
	background-image:radial-gradient(100% 100% at 50% 100%, #f6e05e 0%, rgba(170, 243, 96, 0.75) 25%, rgba(102, 247, 189, 0.5) 50%, rgba(190, 227, 248, 0) 100%), linear-gradient(90deg, #ed8936 0%, #f36a57 14.29%, #ee4d7c 28.57%, #d74193 42.86%, #b8419a 57.14%, #9a409a 71.43%, #553c9a 100%)
}

.no-double-tap{
	touch-action: manipulation;
}

.font-amador{
	font-family: 'Amador';
	font-size: 400px;
	color: #96ff00;
	-webkit-text-stroke: 5px black;
	border-radius: 10px;
}

.text-rotate0{
	transform: rotate(-3deg);
}

.text-rotate1{
	transform: rotate(2deg);
}

.body-background {
	/* background-image: url("/imgs/BoysvGirls.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover; */
	background-image: linear-gradient(45deg, #808080 25%, transparent 25%), linear-gradient(-45deg, #808080 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #808080 75%), linear-gradient(-45deg, transparent 75%, #808080 75%);
	background-size: 60px 60px;
	background-position: 0 0, 0 30px, 30px -30px, -30px 0px;
}

.score-text {
	font-family: 'Cheddar';
	font-size: 350px;
	color: #96ff00;
	line-height: 0.8;
}

.background-color-0{
	background-color: #ec008c;
	mix-blend-mode: multiply;
}

.background-color-1{
	background-color: #00afef;
	mix-blend-mode: multiply;
}